{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <br>
    <div class="row jumbotron">
        {# login form #}
        <div class="col-md-4">
            {% if request.user.is_authenticated %}
                <h3 class="text-center">Welcome {{ request.user }}</h3>
            {% else %}
            <form class="" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {{ login_form|crispy }}
                <input class="btn btn-default" type="submit" name="login" value="Login">
            </form>
            {% endif %}
        </div>
        {# Why you should signup #}
        <div class="col-md-8">
            {% if not request.user.is_authenticated %}
                <h2>Sign Up for an account to get all the benfits of this great calulator</h2>
                <p>Create an account to save your personal Calculation history.<br>
                    <small>Get more than 5 results</small></p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#SignUpModal">
                  Sign Up Now
                </button>


            {% else %}
                <a class="pull-right" href="{% url 'logout' %}?next={% url 'index_view' %}">Logout</a>
            {% endif %}
        </div>
    </div>
    {# end jumbotron #}
    <!-- Sign up Modal -->
    <div class="modal fade" id="SignUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Create a User Account</h4>
          </div>
          <div class="modal-body">
            <form class="" action="{% url 'sign_up_view' %}" method="post">
                {% csrf_token %}
                {{ user_creation_form.as_p }}
          </div>
          <div class="modal-footer">
              <input class="btn btn-primary pull-right" type="submit" name="signup" value="Sign Up">
          </form>
          {# end signup form #}
          </div>
        </div>
      </div>
    </div>
    <!-- End Sign up Modal -->

    {# start calc #}
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <h2>Caluculate</h2>
                <form class="" action="" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="fieldWrapper">
                        {{ form.num1.errors }}
                        <label for="{{ form.num1.id_for_label }}"></label>
                        {{ form.num1 }}
                    </div>

                    <div class="fieldWrapper " data-toggle="buttons">
                        {{ form.operator.errors }}
                        {% for field in form.operator  %}
                            <span class="btn btn-primary operators text-center">{{ field }}</span>
                        {% endfor %}
                    </div>

                    <div class="fieldWrapper">
                        {{ form.num2.errors }}
                        <label for="{{ form.num2.id_for_label }}"></label>
                        {{ form.num2 }}
                    </div>
                    <input class="btn btn-default" type="submit" name="submit" value="Calculate">
                </form>
                {# end calc form #}
            </div>
        </div>

        <div class="col-md-6">
            <h2>Your Calculation History</h2><br>
            <table>
                {% for calc in calc_hist %}
                <tr>
                    <td class="result">{{ calc.get_num1 }} {{ calc.operator }} {{ calc.get_num2 }} = <strong>{{ calc.get_result }}</strong></td>
                    {% if request.user.is_authenticated %}
                    <td>
                        <form class="" action="{% url 'calc_delete_view' calc.id %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-danger delete" type="submit" name="name" value="X">
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}
